body {
    padding: 20px;
}

header {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

body > header > p {
    font-style: italic;
}

section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

section > article > header > h2 {
    font-size: 1.8em;
    font-weight: bold;
}

section > article > header p {
    font-size: 0.8em;
    font-style: italic;
}

section > article > header img {
    display: block;
    width: 90%;
    margin: 5%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

section > article h2 {
    font-size: 1.5em;
}

section > article img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

footer {
    margin-top: 2em;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7em;
    text-align: center;
    padding: 1em;
}

.article-link {
    margin-bottom: 15px;
    text-align: right;
    padding: 0.8em;
    border-radius: 3px;
}

.article-link > span {
    font-style: italic;
    font-size: 0.8em;
}

.article-link:hover {
    background: #fAfAfA;
}

.article-link > p {
    text-align: left;
    margin-top: 1em;
}

.article-link > h3 {
    text-align: left;
}