body {
    padding: 20px;
}

blockquote {
    font-size: 15px;
    font-style: italic;
}

header > h1 {
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
}

header > p {
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
}

header > h2 {
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
}

body > header > p {
    font-style: italic;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid #F2F2F2;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #CCC;
}

section {
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

section > article > header > h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: #777;
}

section > article > header p {
    font-size: 0.8em;
    font-style: italic;
}

section > article > header img {
    display: block;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border: 6px solid #F2F2F2;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #CCC;
}

section > article h2 {
    font-size: 1.5em;
}

section > article > img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border: 6px solid #F2F2F2;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #CCC;
}

section > article > figure > img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border: 6px solid #F2F2F2;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #CCC;
}

section > article > figure > p {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
}


footer {
    margin-top: 2em;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7em;
    text-align: center;
    padding: 1em;
}

.article-link {
    margin-bottom: 15px;
    text-align: right;
    padding: 0.8em;
    border-radius: 1px;
    border: 1px solid #f2f2f2;
}

.article-link > span {
    font-style: italic;
    font-size: 0.8em;
}

.article-link:hover {
    background: #fAfAfA;
}

.article-link > p {
    text-align: left;
    margin-top: 1em;
}

.article-link > h3 {
    text-align: left;
}
