body {
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Open Sans", Verdana, sans-serif;
}

h1 {
    font-size: 2.2em;
}

header > p {
    font-size: 0.75em;
    font-style: italic;
}

figure {
    text-align: center;
}

figure > p {
    font-style: italic;
    font-size: 0.9em;
}

p,ul > li,ol > li,blockquote {
    font-size: 1.45em;
    letter-spacing: 0.01em;
    line-height: 1.6em;
}

blockquote {
    letter-spacing: 0.15em;
    line-height: 1.6em;
    background-color: #F2F2F2;
    padding: 25px;
}

.article-link {
    border-bottom: 2px solid #333333;
    padding-bottom: 15px;
}

footer {
    text-align: center;
    font-size: 0.75em;
}

footer:hover {
    background-color: #F0F0F0;
}